@import url('https://fonts.googleapis.com/css2?family=Faustina&display=swap');
.about-section{
    padding-left : 2%;
    padding-right : 2%;
    display: flex;
    padding-top: 40px;
    background-color: #F2FBFF;
    color: #0d040fe0;
}

.about-text-section{
    display: flex;
    flex:1;
    flex-direction: column;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
}
.about-img-section{
    flex:1;
    min-width: 300px;
    min-height: 300px;
    background-image: url('../grp.jpg'); 
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.about-section-heading{
    text-align : center;
    font-size: 2.3rem;
    font-weight: 700;
}
.about-section-text{
    font-weight: 530;
    font-size: 1.3rem;
    color : #27313f;
}
.about-section-text-btn{
    padding: 10px;
    width: 150px;
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid #df9a2a;
    background-color: #083b61;
    color: white;
}
.about-section-text-btn:hover{
    background-color: #df9a2a;
    color: black;
}
@media only screen and (max-width:1100px)
{
    .about-section{
        display: flex;
        flex-direction: column-reverse;
    }  
    .about-img-section{
        background-position: center;
        background-repeat: no-repeat;
        object-fit: contain;
        background-size: auto 100%;
    } 
}

.about-container {
    display: flex;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F2FBFF;
}

.about-container-section-1 {
    width: 65%; 
    float:left;
    padding-right : 15px;
}
.about-container-section-2 {
    width: 30%;
    float: right;
}

.profilephoto{
    width : 100%;
    height : 400px;
}
.AboutContent{
   font-weight: 400;
   font-style: normal;
   font-size: 17px;
   letter-spacing: .01em;
   line-height: 1.8em;
   text-transform: none;
   color: rgba(12,19,28,.9);
}
.eduction-headers{
   font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0em;
    line-height: 1.2em;
    text-transform: none;
    font-family: soleil;
    font-style: normal;
    letter-spacing: .05em;
    line-height: 1.4em;
    text-transform: uppercase;
    color : #075a7a;
}
.educationContent{
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    letter-spacing: .03em;
    line-height: 1.9em;
    text-transform: none;
    color: rgba(39,49,63,.9);
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

