@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
.Contact{
   padding-left : 5%;
   padding-right : 5%;
   padding-top : 30px;
   padding-bottom : 20px;
   display: inline-block;
}
.contact-form-1{
   padding-left : 5%;
   width : 60%;
   padding-right: 5%;
   float : left;
}
.contact-form-2{
   width : 30%;
   float : right;
}
.contact-heading {
  letter-spacing: 0.04em;
  font-size : 20px;
}

input,textarea, .ContactSubmit{
  border: 2px solid;
  border-radius: 4px;
  font-size: 1rem;
  margin: 0.25rem;
  min-width: 250px;
  padding: 0.5rem;
  transition: border-color 0.5s ease-out;
}
.ContactSubmit:hover {
   backgroud-color : #074cba; 
}
input:optional {
  border-color: gray;
}
input:required:valid {
  border-color: green;
}
input:invalid {
  border-color: red;
}
input:required:focus:valid {
  background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% lightgreen;
  background-size: 25px;
}
input:focus:invalid {
  background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% lightsalmon;
  background-size: 25px;
}
h2, p,button {
   font-size: 1.5rem;
   margin: 0.25rem;
   font-family: 'El Messiri', sans-serif;
   color : rgb(11 14 18 /90%);
}
.ContactSubmit {
   font-family: soleil;
   font-size: 20px;
   font-weight: 700;
   font-style: normal;
   text-transform: uppercase;
   letter-spacing: .05em;
   color : #fff;
   height : 25px;
   width : 40px;
   background-color : #7a7878;
}
.ContactSubmit:hover {
   background-color : #2375a8;
}
.contact-form-2-content {
    font-size : 18px;
    font-weight : 550;
    text-decoration : underline;
    color : #072246;
}
.contact-form-heading,.contact-form-2-content {
  font-family : Open sans;
}

textarea {
  width : 50%;
  height : 100px;
}

.small-font-text {
  font-size: 0.9rem;
}

Button {
  background-color: #7a7878;
  border: none;
  color: white;
  padding : 6px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight : 600;
  font-family : 'Vollkorn', serif;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

Button:hover{
  background-color : #2375a8;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
