a {
   color: #000000e8;
   text-decoration: none;	
   font-weight : 800;
}
.navbar{
    display: flex;
    height: 7rem;
    top: 0;
    left: 0;
    padding-bottom : 2.5rem;
    z-index: 9999;
    align-items: center;
}
.law-icon{
    width: 22rem;
    height: 7rem;
    margin-left: 5rem;
    margin-top : 15%;
}
.navbar-icon{
    flex: 1;
    display: flex;
    align-items : center;
    margin-left: 0rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}
.menu-items{
    flex : 1.5;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-right: 1.8rem;
    font-weight: 500;
    top : 100%;
    transform : translateY(50%);
}
.navbar-text{
    margin-left: 0.5rem;
    font-size: 2rem;
}
.items-active{
    color: rgb(223, 154, 42);;
    padding: 0.5rem 0.9rem;
    border-top-right-radius: 1.7rem;
    border-top-left-radius: 1.7rem;
    border-bottom-left-radius: 1.7rem;
    border-bottom-right-radius: 1.7rem;
    font-size: 1.8rem;
    cursor: pointer;
}
.items{
    color: white;
    padding: 0.5rem 0.9rem;
    border-top-right-radius: 1.7rem;
    border-top-left-radius: 1.7rem;
    border-bottom-left-radius: 1.7rem;
    border-bottom-right-radius: 1.7rem;
    font-size: 1.8rem;
    cursor: pointer;
}
.nav-a:hover{
    text-decoration : underline;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    
}
@media only screen and (max-width: 768px) 
{
    .menu-icon{
        width: 30px;
        height: 90px;
        margin-right: 20px;
        cursor: pointer;
    }
    .menu-items-mobiles{
        position: absolute;
        background-color: white;
        height: 300px;
        width: 100%;
        top: 80px;
        left: 0;
    }
    .menu-items{
        display: flex;
        flex-direction: column;
        list-style: none;
        font-weight: 500;
	
    }
    .items{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 30px;
        font-size: 1.2rem;
        cursor: pointer;
       
    }
    
}
.appointment-items{
     background-color: #42adf5;
}
