.french-section-5{
  position: relative;
  padding-left : 5%;
  padding-right : 5%;
  background-color: #F2FBFF;
  overflow-x: hidden;
  overflow-y: hidden;
}
.french-section-5-heading{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: #323232;
}

  .french-section-5-carausel-container{
    max-width: 1400px;
    margin: auto;
  }
  .carausel-orange-ellipse{
    position: absolute;
    width: 100%;
    top: -80px;
    left: -80px;
  }
  .carausel-blue-ellipse{
    position: absolute;
    width: 150px;
    bottom: -40px;
    right: -40px;
  }
  
  .review-container{
    position: relative;
    min-width: 367px;
    max-width: 367px;
    height: 122%;
    border-radius: 0.01rem;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0px 2px 10px 10px rgba(90, 195, 255, 0.2); */
  }
  .reviewer-info{
    display: flex;
    position: absolute;
    bottom: 1.5rem;
    left: 1.2rem;
    color: #697694;
    align-items: center;
  }
  .reviewer-name-lvl{
    margin-left: 1rem;
  }
  .reviewer-image{
    width: 3.5rem;
    height : 3.5rem;
  }
  .reviewer-name{
    font-size: 1.5rem;
    font-weight: 700;
  }
  .reviewer-rating{
    margin-left: 1.5rem;
    padding-top: 2rem;
  }
  .reviewer-review{
    margin-left: 1.5rem;
    margin-right: 1.2rem;
    padding-top: 1.2rem;
    color: black;
  }
  
