.service-cotent{
   padding-left : 5%;
   padding-right : 5%;
}
.our-services-1{
   padding-top : 2%;
   padding-bottom : 2%;
}
.our-services {
   background-image: linear-gradient(25deg,rgb(242 251 255) 0%,rgba(0,0,0,0.6) 100%)!important;
}
.our-services-1{
  width : 100%;
  height : 20%;
}
.our-services-heading{
    text-align : center;
    font-size : 2.5rem;
    color : #0d040fe0;
    padding-left : 5%;
    padding-top : 5%;
    font-family : soleil;
    font-weight : 600;
}
.our{
    background-image: linear-gradient(90deg,rgb(0 0 0 / 29%) 35%,rgb(0 0 0 / 0%) 100%), url(../img/2-banner.jpg)!important;
    padding : 15px;
    padding-top : 5%;
    position : relative;
    height : 200px;
}
.our-services-heading-1{
    display: inline-block;
    font-size : 4rem;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #dcecf7;
    transition: 0.3s;
}
.our-services-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1380px;
    margin: auto;
}
.our-services-card{
    position: relative;
    min-width: 300px;
    max-width: 350px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;    
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
}
.our-services-card-heading{
    position: absolute;
    bottom: -100px;
    visibility: hidden;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
}
.our-services-card-text{
    position: absolute;
    bottom: -100px;
    visibility: hidden;
    color: #FFF;
}
.services-image{
    object-fit : cover;
    object-position: center;
    width: 93%;
    height: 93%;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
    background-color: #393839;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}
.our-services-card:hover .card-overlay{
    opacity: 40%;
}
.our-services-card:hover .our-services-card-heading {
    bottom: 40px;
    left: 20px;
    visibility: visible;
    transition: 0.3s;
}
.our-services-card:hover .our-services-card-text{
    bottom: 20px;
    left: 20px;
    visibility: visible;
    transition: 0.3s
}
.our-services-card:hover .services-image{
   width : 97%;
   height : 97%;
}
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');
.tab-body {
   padding : 10px;
   font-family: 'Gentium Book Basic', serif;
   font-size : 16px;
   font-weight : 200;
}
.tab-image {
   width : 30%;
   float : left;
}
.tab-width {
   width : 70%;
   float : right;
}
.tab-image-1{
   width : 90%;
   height : 100%;
}
.tab-cotent {
   background-color : grey;
}
